{% extends 'layout.html' %} {% block content %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='style/home.css') }}"
/>
{% endblock css %}

<h2>Xəbələr</h2>

<hr />
<div class="row magazine-carousel">
  <div class="col-12 pb-5">
    <section class="row">
      <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
        <div id="featured" class="carousel slide carousel" data-ride="carousel">
          <ol class="carousel-indicators top-indicator">
            <li data-target="#featured" data-slide-to="0" class="active"></li>
            <li data-target="#featured" data-slide-to="1"></li>
            <li data-target="#featured" data-slide-to="2"></li>
            <li data-target="#featured" data-slide-to="3"></li>
          </ol>

          <div class="carousel-inner">
            <div class="carousel-item active c-item">
              <div class="card border-0 rounded-0 text-light overflow zoom">
                <div class="position-relative">
                  <div class="ratio_left-cover-1 image-wrapper">
                    <a href="#">
                      <img
                        class="d-block w-100 c-img"
                        src="../../static/media/news/NEWS-{{getlatestnews()[0][3]}}/photo.png"
                        alt="#"
                      />
                    </a>
                  </div>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <a href="#">
                      <h2 class="h3 post-title text-white my-1">
                        {{getlatestnews()[0][0]}}
                      </h2>
                    </a>

                    <div class="news-meta">
                      <span class="news-date">{{getlatestnews()[0][2]}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% for basliq, esas, tarix, id in getlatestnews()[1:] %}
            <div class="carousel-item c-item">
              <div class="card border-0 rounded-0 text-light overflow zoom">
                <div class="position-relative">
                  <div class="ratio_left-cover-1 image-wrapper">
                    <a href="#">
                      <img
                        class="d-block w-100 c-img"
                        src="../../static/media/news/NEWS-{{id}}/photo.png"
                        alt="#"
                      />
                    </a>
                  </div>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <a href="#">
                      <h2 class="h3 post-title text-white my-1">{{basliq}}</h2>
                    </a>

                    <div class="news-meta">
                      <span class="news-date">{{tarix}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <a
          class="carousel-control-prev"
          href="#featured"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a
          class="carousel-control-next"
          href="#featured"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
      </div>

      <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
        <div class="row">
          <div class="col-6 pb-1 pt-0 pr-1">
            <div
              class="card border-0 rounded-0 text-white overflow zoom box-news"
            >
              <div class="position-relative">
                <div class="ratio_right-cover-2 image-wrapper">
                  <a href="#">
                    <img
                      class="img-fluid box-img animate"
                      src="../../static/media/news/NEWS-{{getlatestnews()[0][3]}}/photo.png"
                      alt=""
                    />
                  </a>
                </div>
                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                  <a href="#">
                    <h2 class="h5 text-white my-1">
                      {{getlatestnews()[0][0]}}
                    </h2>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 pb-1 pl-1 pt-0">
            <div
              class="card border-0 rounded-0 text-white overflow zoom box-news"
            >
              <div class="position-relative">
                <div class="ratio_right-cover-2 image-wrapper">
                  <a href="#">
                    <img
                      class="img-fluid box-img animate"
                      src="../../static/media/news/NEWS-{{getlatestnews()[1][3]}}/photo.png"
                      alt=""
                    />
                  </a>
                </div>
                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                  <a href="#">
                    <h2 class="h5 text-white my-1">
                      {{getlatestnews()[1][0]}}
                    </h2>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 pb-1 pr-1 pt-1">
            <div
              class="card border-0 rounded-0 text-white overflow zoom box-news"
            >
              <div class="position-relative">
                <div class="ratio_right-cover-2 image-wrapper">
                  <a href="#">
                    <img
                      class="img-fluid box-img animate"
                      src="../../static/media/news/NEWS-{{getlatestnews()[2][3]}}/photo.png"
                      alt=""
                    />
                  </a>
                </div>
                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                  <a href="#">
                    <h2 class="h5 text-white my-1">
                      {{getlatestnews()[2][0]}}
                    </h2>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 pb-1 pl-1 pt-1">
            <div
              class="card border-0 rounded-0 text-white overflow zoom box-news"
            >
              <div class="position-relative">
                <div class="ratio_right-cover-2 image-wrapper">
                  <a href="#">
                    <img
                      class="img-fluid box-img animate"
                      src="../../static/media/news/NEWS-{{getlatestnews()[3][3]}}/photo.png"
                      alt="blog website templates bootstrap"
                    />
                  </a>
                </div>
                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                  <a href="#">
                    <h2 class="h5 text-white my-1">
                      {{getlatestnews()[3][0]}}
                    </h2>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Haqqımızda</h2>
        <hr />
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card my-3 box-card">
          <img
            src="../../static/media/home/coding.jpg"
            class="card-image-top box-img animate"
            alt="thumbnail"
          />

          <div class="card-body">
            <h3 class="card-title">
              <p class="text-secondary">
                Tətbiqi Riyaziyyat və Kibernetika kafedrasının məqsədi?
              </p>
            </h3>
          </div>
          <a
            href="{{url_for('about')}}"
            class="btn btn-primary btn-green box-btn"
            >Ətraflı</a
          >
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card my-3 box-card">
          <img
            id="lutfi"
            src="../../static/media/home/lutfizade.png"
            class="card-image-top box-img animate"
            alt="thumbnail"
          />

          <div class="card-body">
            <h3 class="card-title">
              <p class="text-secondary">
                Bakı Dövlət Üniverstetində oxumuş dahi şəxsiyyətlər dünya elminə
                böyük tohfələr vermişdir
              </p>
            </h3>
          </div>
          <a
            href="{{url_for('genius')}}"
            class="btn btn-primary btn-green box-btn"
            >Ətraflı</a
          >
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card my-3 box-card">
          <img
            id="info"
            src="../../static/media/general/bdu_front3.jpg"
            class="card-image-top box-img animate"
            alt="thumbnail"
          />
          <div class="card-body">
            <h3 class="card-title">
              <p class="text-secondary">
                Tətbiqi Riyaziyyat və Kibernetika fakültəsinin tyutorları
              </p>
            </h3>
          </div>
          <a
            href="{{url_for('tyutors')}}"
            class="btn btn-primary btn-green box-btn"
            >Ətraflı</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<h2>Faydalı</h2>
<hr />

<div class="container mt-2 mb-2">

  <div class="row" id="helper-container">
    <div class="col-md-6 col-lg-4">
      <div class="card card-block box-card mb-3">
        <img
        class="animate helper-img"
          src="../../static/media/home/schedule.jpg"
          alt="Photo of sunset"
        />
        <p class="card-text">
          Tətbiqi Riyaziyyat və Kibernetika fakültəsinin Dərs Cədvəli
        </p>
        <a
            href="{{url_for('table')}}"
            class="btn btn-primary btn-green helper-btn"
            >Keçid Alın</a
          >
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card card-block box-card mb-3">
        <img
        class="animate helper-img"
          src="../../static/media/home/dissert.jpg"
          alt="Photo of sunset"
        />
        <p class="card-text">Dissertasiya İşləri</p>
        <a
            href="{{url_for('dissert')}}"
            class="btn btn-primary btn-green helper-btn"
            >Keçid Alın</a
          >
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card card-block box-card">
        <img
        class="animate helper-img"
          src="../../static/media/home/science.jpg"
          alt="Photo of sunset"
        />
        <p class="card-text">
          Elmi Şura
        </p>
        <a
            href="{{url_for('science')}}"
            class="btn btn-primary btn-green helper-btn"
            >Keçid Alın</a
          >
      </div>
    </div>
  </div>
</div>
{% endblock content %}
