{% extends 'layout.html' %} {% block content %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='style/about.css') }}"
/>
{% endblock css %}

<h1 class="about-h1">Koreya Mərkəzi Haqqında</h1>
<hr />

<div class="container mb-3">
  <div class="row img-row">
    <div class="img-container mt-3 card animate">
      <img
        src="../../static/media/korea/1.jpg"
        class="img-thumbnail img-sabah"
      />
    </div>

    <div class="img-container mt-3 card animate">
      <img
        src="../../static/media/korea/2.jpg"
        class="img-thumbnail img-sabah"
      />
    </div>

    <div class="img-container mt-3 card animate">
      <img
        src="../../static/media/korea/3.jpg"
        class="img-thumbnail img-sabah"
      />
    </div>

    <div class="img-container mt-3 card animate">
      <img
        src="../../static/media/korea/4.jpg"
        class="img-thumbnail img-sabah"
      />
    </div>

    <article class="animate">
      Azərbaycan-Koreya İnformasiya Təminatı Mərkəzi 2008-ci ilin dekabrın 17-də
      Koreya dövlətinin birbaşa dəstəyi ilə xarici və daxili rəqəmsal sistemləri
      hərtərəfli təmin etmək məqsədilə yaranan KADO-nun (Korean Agency for
      Digital Opportunities and Promotion) yardımı ilə açılıb. Açılış
      mərasimində BDU-nunu rektoru, akademik Abel Məhərrəmov, Koreya
      Respublikasının İctimai İdarəetmə və Təhlükəsizlik nazirinin müavini Kin
      Young Ho və KADO-nun vitse-prezidenti Park Von Gsun iştirak edib. 2012-ci
      ilin may ayında Koreya Milli İnformasiya Cəmiyyətinin icraçı direktoru
      Myungha Hongun Bakı Dövlət Universitetinə səfəri zamanı Mərkəzin
      yenilənməsinə dair müqavilə imzalanıb. Yenilənmə işlərinə mərkəzin
      kompyuter sisteminin əvəzlənməsi, video-konfrans və virtual universitetin
      yaradılması daxil edilib. Azərbaycan-Koreya İnformasiya Təminatı
      Mərkəzinin yenilənmə prosesindən sonra açılışı 2012-ci ilin avqust ayında
      keçirilib. Təxminən 100 min dollara başa gələn təchizat işləri əvəzsiz
      olaraq yerinə yetirilib. Mərkəzin açılışında əsas məqsəd aşağıldakılardır:<br><br><br>
      -Tələbələrin müasir rəqəmsal texnologiya və avadanlıqlar ilə tanış olması;<br>
      -Son informasiya texnologiyalarına yiyələnmək;<br> -Onların qloballaşan
      dünyanın inteqrasiya proseslərində daha fəal iştirakının təmin olunması;<br><br><br> 3
      otaqdan ibarət olan Azərbaycan-Koreya İnformasiya Təminatı Mərkəzində
      Seminar-room, İT Training Laboratory və İnternet Lounge fəaliyyət
      göstərir. İT Training Laboratory 90 ədəd kompüter və iki genişekranlı
      proyektor ilə təchiz olunub. Tələbələrin daha geniş kompüter biliklərinə
      malik olmaları, eyni zamanda proqramlaşdırma dillərinə mükəmməl
      yiyələnmələri üçün Mərkəzdə bütün şərait vardır. İnternet Lounge room isə
      öz növbəsində tələbələrin və tədqiqatla məşğul olan şəxslərin internet
      vasitəsilə lazımi məlumatları əldə etmələri məqsədinə xidmət edir. Mərkəz
      KADO-nun birbaşa dəstəyi ilə fəaliyyət göstərir.
    </article>
  </div>
</div>

{% endblock content %}
