{% extends 'layout.html' %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='style/sabah.css') }}"
/>
{% endblock css %} {% block content %}

<h1>SABAH HAQQINDA</h1>
<hr class="hr" />
<article class="article">
  SABAH magistratura BDU üzrə koordinator:
  <a href="#">Əliyev Ələkbər Əli Ağa oğlu</a>

  SABAH magistratura BDU üzrə məsləhətçi: <a href="#">Sadıqlı İqbal Əli oğlu</a>

  Bakı Dövlət Universiteti və Azərbaycan Respublikasının Təhsil İnstitutu (ARTİ)
  birgə “SABAH magistratura” proqramı çərçivəsində “Kompüter elmləri və
  texnologiyaları” ixtisaslaşması üzrə yeni məzmunun yaradılması və tətbiqi
  prosesinin təşkil edib. Sabah Magistratura layihəsi ARTİ tərəfindən
  2021/2022-ci tədris ilində ilk dəfə tələbə qəbulu elan etmişdir. Qəbul
  aparılan ixtisaslaşmalar hamısı yenidir və ali təhsil müəssisələrində bu ildən
  ilk dəfə qəbul aparılmışdır. Sabah magistratura proqramı reallaşdırılan ali
  təhsil müəssisələri Bakı Dövlət Universitetinin “Kompüter elmləri və
  texnologiyaları” ixtisaslaşması da daxildir. Məlum olduğu kimi, “SABAH”
  layihəsi ümumiyyətlə, savadlı, bacarıqlı, hazırlıqlı mütəxəssislərin
  yetişdirilməsini hədəfləyən bir layihədir. Sabah magistratura layihəsi də eyni
  prinsip üzərindən çıxış edir, məzunların ixtisasın müasir tələblərinə cavab
  verməklə yanaşı, tədqiqat qabiliyyətlərinin formalaşması, xarici dildə
  ünsiyyət bacarıqlarının yüksək olması gözləntilərimiz sırasındadır. Sabah
  magistartura qrupları olan ixtisaslaşmalarda sənaye ilə əməkdaşlıq
  çərçivəsində yeni təhsil məzmunu hazırlanmışdır ki, məzmun daha çevik, əmək
  bazarının tələblərinə uyğun dizayn edilmişdir. Hər bir ixtisaslaşma üzrə
  müəllim seçimlərinə xüsusi yanaşma tətbiq edilmiş, ali təhsil müəssisələrinin
  akademik heyəti ilə yanaşı əmək bazarının təmsilçiləri, sahə üzrə yüksək
  ixtisaslı mütəxəssislər, beynəlxalq təcrübəsi olan mütəxəssislər tədris
  prosesinə cəlb edilmişlər. Xüsusi fərqləndirici məqamlardan biri kimi
  layihələrin qrant əsaslı icrasını qeyd etmək mümkündür. Layihənin icrasına
  ARTİ tərəfindən 2021-ci ilin avqust ayından etibarən başlanılmışdır. Təhsil
  İnstitutu ali təhsil müəssisələrinin elan etdiyi qrant müsabiqlərinə qatılmış
  və Bakı Dövlət Universitetinin “Kompüter elmləri və texnologiyaları”
  ixtisaslaşması üzrə müsabiqənin qaliblərindən biri olmuşdur. Universitetdə
  yerli əmək bazarının tələbləri, həmçinin beynəlxalq təcrübələr araşdırılaraq
  təhsil proqramları hazırlanmış, payız və yaz semestrlərində tədris aparan
  müəllimlər seçilmiş, sənaye nümayəndələri üçün “Ali məktəb pedaqoqu” təlimləri
  təşkil edilmiş, tələbə və müəllimlər üçün oriyentasiya tədbirləri təşkil
  edilmişdir. Bunlardan savayı, tələbələrin dərsdənkənar fəaliyyətləri üzrə
  silsilə tədbirlər-təlim və vebinarlar təşkil olunur. Universitetdə
  maddi-texniki bazanın qurulması, tədris resurslarının hazırlanması ilə bağlı
  ARTİ ilə birgə işlər görülür. Universitet-sənaye əməkdaşlığını genişləndirmək,
  tələbələrin istehsalat təcrübəsinin təşkili məqsədilə nüfuzlu işəgötürənlərlə
  danışıqlar aparılır. Həmçinin, tələbələrin ingilis dili biliklərinin
  artırılması məqsədi ilə Britaniya Şurası tərəfindən ARDNŞ-in maliyyə dəstəyi
  ilə fakültativ məşğələlər keçirilir. “British Council” müəllimləri tərəfindən
  keçirilən İngilis dili məşğələlərində tələbələr bilik səviyyələrinə uyğun
  olaraq müvafiq qruplara bölünmüşdür. Məşğələlər həftə 2 dəfə , hər qrup üzrə 3
  saat olmaqla keçirilir. Layihənin əsas hədəfi müasir əmək bazarının
  tələblərinə uyğun, beynəlxalq rəqabətə davamlı peşəkar kadr hazırlığını təmin
  edəcək yeni məzmun və təlim infrastrukturunun yaradılması və onun
  dayanıqlığını stimullaşdırmaqdır. Qeyd edək ki, layihəyə müvafiq sahə üzrə
  xaricdə təhsil almış azərbaycanlı gənc mütəxəssislər də cəlb olunub. “SABAH
  magistratura” proqramının BDU üzrə koordinatoru Tətbiqi riyaziyyat və
  kibernetika fakültəsinin İnformasiya texnologiyaları və proqramlaşdırma
  kafedrasının müdiri professor Ələkbər Əliyevdir.
</article>

<h1>Faydalı linklər</h1>
<hr class="hr">
<a class="link"
href="https://www.sabah.edu.az/">https://www.sabah.edu.az/</a>

<a
  class="link"
  href="https://www.arti.edu.az/az/search?q=sabah+magistratura
https://fb.watch/aXpUtnxf6K/"
  >https://www.arti.edu.az/az/search?q=sabah+magistratura
  https://fb.watch/aXpUtnxf6K/</a
>

<a class="link"
href="https://fb.watch/aXpUtnxf6K/">https://fb.watch/aXpUtnxf6K/</a>
{% endblock content %}
